
:root{
    --BaseBackground-color: white;
    --basFont-color:  black;
    --extraFont-color: grey;
}
.darkmode{
    --BaseBackground-color: #191919;
    --basFont-color: #FFCC00;
    --extraFont-color: grey;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ;
}
body{
    padding-top: 120px;
    background-color: var(--BaseBackground-color);
}

.header{
    display: flex;
    justify-content: space-between;
    position: fixed;           
    top: 0;
    left: 0;
    right: 0;
    height: 50px;   
    padding: 20px;
    align-items: center;
    margin: auto;
    max-width: 1200px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 100px;
    background-color: var(--BaseBackground-color);
    z-index: 1;
}

.header div{
    cursor: pointer;
}
.left-header-selection h1{
    font-size: 26px;
    color: #FFCC00;
}
.right-header-selection{
    display: flex;
    flex-direction: row;
    column-gap: 20px;

}
.right-header-selection div{
    border: none;
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
    position: relative;
    font-size: 13px;
    color: var(--basFont-color);
}

.right-header-selection div::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 100%;
    left: 0;  
    background-color: var(--basFont-color);
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0); 
}

.right-header-selection div:hover::after {
    transform: scaleX(1); 
}

.night-mode-button{
    border: none;
    background-color: var(--BaseBackground-color);
    cursor: pointer;
}
.night-mode-button img{
    align-items: center;
}

.menu{
    display: none;
}

.grid-offer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    width: auto;
    place-items: center;
    margin: auto;
    column-gap: 15px;
    z-index: 0;

}

.grid-offer div {
width: 100%;
height: 100%;
transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
position: relative;
overflow: hidden;
cursor: pointer;
}

.grid-offer div p {
font-size: 30px;
font-weight: bold;
color: white; /* Aby był widoczny na tle */
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
margin: 0;
opacity: 0; /* Początkowo niewidoczny */
transition: opacity 0.3s ease-in-out;
}
.grid-offer div:hover {
transform: scale(1.05);

}

.grid-offer div:hover img {
filter: blur(3px);

}

.grid-offer div:hover p {
opacity: 1; /* Tekst staje się widoczny po najechaniu */
filter: blur(0px); /* Zapobiega rozmyciu tekstu */
}

.grid-offer div img {
width: 100%;
height: 100%;
object-fit: cover;
}



@media (max-width: 700px) {
    .right-header-selection{
        display: none;
        } 
    .menu{
        display: block;
        background-color: white;
        border: none;
        cursor: pointer;
    }
    .grid-offer {
        grid-template-columns: 1fr;
        max-width: 600px;
        row-gap: 20px;
    }
 }
           
.Title-info {
    z-index: 0;
    color: var(--basFont-color);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-bottom: 50px;
}
.Title-info-bottom{
    font-size: 15px;
    font-weight: 300;
    color: var(--extraFont-color);
}